RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ $1.php [L]
RewriteRule ^$ home.php [L]
RewriteRule ^index$ index.php [L]

# Redirect direct access to about and about.php to a 500 error
RewriteCond %{THE_REQUEST} \s/about\s [OR]
RewriteCond %{THE_REQUEST} \s/about\.php\s
RewriteRule ^ - [R=500]
